<mat-toolbar color="primary" id="toolbar" (appOnClickAway)="isMenuOpened ? toggleResponsiveMenu() : null">
  <div id="navbar">
    <span id="logo" [routerLink]="''">Weather App</span>

    <div class="nav-section left-section">
      <app-nav-link *ngFor="let link of leftLinks" [link]="link"></app-nav-link>
    </div>

    <div class="nav-section right-section">
      <app-nav-link *ngFor="let link of rightLinks" [link]="link"></app-nav-link>
    </div>

    <!-- responsive   -->
    <div class="nav-responsive"
       *ngIf="isMenuOpened"
       @slideResponsiveNav>

      <app-nav-link *ngFor="let link of joinLinks()" [link]="link"></app-nav-link>
    </div>

    <div id="hamburguer" class="right-section" >
      <i class="material-icons" (click)="toggleResponsiveMenu()">
        {{isMenuOpened ? 'close' : 'menu'}}
      </i>
    </div>
  </div>
</mat-toolbar>

