.details-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 15px 20px;
  background-color: #ECEFF1;
}

.details-section {
  width: 42%;
  background-color: white;
  margin: 23px 2%;
  padding: 50px;
  border-radius: 10px;
}
