// Breakpoints
$largeLaptop: 1440px;
$regularLaptop: 1024px;
$tablet: 768px;
$largeMobile: 425px;
$regularMobile: 375px;
$smallMobile: 320px;

// Colors
$primary: #6847B7;

// Other
$widthToResponsiveNav: $tablet;
